.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.purple{
    background-color: purple;
}
.blod{
    font-weight: bold;
}